.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tile {
  height: 140px;
  width: 305px;
  margin: 37px;
  background: lightcyan;
  float: left;
  font-size: 14px;
  text-align: center;
}

.newPostButton {
  background: dimgrey;
  color: white;
  border: none;
  font-size: 27px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 38px;
  margin-top: 40px;
  padding: 15px;
}

.input {
  border: 0;
  outline: none;
  margin-top:10px;
  font-size: 14px;
  width: 280px;
  background: none;
}

.input:focus {
  border: solid 1px lightgrey;
}



.deleteButton {
  visibility: hidden;
  float: right;
  margin-right: 7px;
  font-size: 25px;
  cursor: pointer;
  color: red;
}

.tile:hover .deleteButton {
  visibility: visible;
}